@font-face {
 font-family: Montserrat-Regular;
 src: url('styles/fonts/Montserrat-Regular.ttf');
 // font-weight: 400;
}
@font-face {
 font-family: Montserrat-Medium;
 src: url('styles/fonts/Montserrat-Medium.ttf');
 // font-weight: 600;
}
@font-face {
 font-family: Montserrat-Bold;
 src: url('styles/fonts/Montserrat-Bold.ttf');
 // font-weight: 700;
}