.form {
	display: inline-block;
	width: 35vw;
	margin-bottom: 2rem;
	padding: 1rem 0 1rem 3rem;
	font-family: Montserrat-Bold;
	font-size: 1rem;

	.form-control {
		margin: 0.5rem 0;
		label {
			display: block;
			margin-bottom: 0.5rem;
		}
		input,
		textarea {
			font-family: Montserrat-Medium;
			font-size: 1rem;
			display: block;
			width: 100%;
			border: 2px solid lighten($grey, 30%);
			border-radius: 5px;
			padding: 1rem;
			margin-bottom: 1rem;
			background-color: $light;
			letter-spacing: 1.2;
			opacity: 0.8;
		}
	}
	a {
		text-decoration: none;
		font-family: Montserrat-Bold;
		color: $dark-grey;
		&:hover {
			border-bottom: 1px solid $dark-grey;
		}
	}
	input[type="checkbox"] {
		display: inline-block;
		transform: scale(2);
		margin: 0.5rem 1rem 0.5rem 0.5rem;
	}
	label[for="agree"] {
		font-family: Montserrat-Regular;
		display: inline-block;
	}
	.btn {
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	.form {
    width: 80vw;
    padding: 0;
	}
}
